<div class="jumbotron">
  <div class="container">
    <div class="row vertical-align">
      <div class="col-md-4 col-md-offset-2"><%= image_tag("rain.svg", :alt => "Buy a barrel", :height => "350px") %></div>
      <div class="col-md-4"><h1 id="slogan"><strong>RECLAIM<br />YOUR RAIN</strong></h1></div>
    </div>
  </div>
</div>
<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row text-center">
    <div class="col-lg-4">
      <i class="fa fa-recycle bigass"></i>
      <h2>Eco Friendly</h2>
      <p>This <strong>recycled</strong> 55 gallon barrel easily attaches to your downspout with a flexible downspout hose, which can be found at any <a href="http://homedepot.com">home improvement store</a>.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <i class="fa fa-usd bigass"></i>
      <h2>Makes Cents</h2>
      <p>Save money by saving water. Cut down on your waste water bill by choosing from one of our lovely rain water collection barrels for your extra water needs.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <i class="fa fa-truck bigass"></i>
      <h2>Free Delivery</h2>
      <p>If you live within 10 miles of Oviedo, Fl we will deliver it to you for free! Otherwise you can come to our shop and pick it up</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Did you know<span class="text-muted">...</span></h2>
      <p class="lead">A half inch of rain on a 30' x 50' house can produce <strong>930 gallons</strong> of run-off water. That's so much water that could be put to use to reduce your bills. Rain water has gone through nature's very own filtration process and is perfect for watering your plants.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag("garden.jpg", :alt => "Water your plants", :class => "img-rounded featurette-image img-responsive center-block") %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Saving water is always good. <span class="text-muted">Even in Florida.</span></h2>
      <p class="lead">Conserving water not only saves you money but it also has a lot of other side effects. It can help protect your local drinking water resources, minimizes pollution, and reduces the need for water supply and waste water treatment facilities.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <%= image_tag("waterfall.jpg", :alt => "Water your plants", :class => "img-rounded featurette-image img-responsive center-block") %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Want to buy one? <span class="text-muted">Of course you do.</span></h2>
      <p class="lead">Our most popular barrel size is <strong>55 gallons</strong> at $65, but you have a number of options to choose from. Please give us a call at 555-555-5555 to ask questions or arrange for a pickup/delivery.</p>
    </div>
    <div class="col-md-5">
      <i class="fa fa-phone-square bigass" style="font-size: 200px !important;"></i>
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->